.header-container {
    background-color: var(--clr1);
    width: 100vw;
    height: 4.375em;

}

.logo-img {
    height: 3vh;
    cursor: pointer;
}

.nav-bar .nav-btn {
    color: white;
    border: none;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
}

.nav-bar .nav-btn:hover {
    color: black;
    box-shadow: inset 0px -1px 0px #000;

}


.header-container .main-layout {

    justify-content: space-between;
}

.menu-toggle {
    display: none;
}